/* Fontes personalizadas */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

header .line {
  background-color: #117050;
  height: 10px;
}

.container {
  max-width: 1140px;
  margin: auto;
}

.header--area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header--left img {
  width: 64px;
  height: 64px;
}

.header--right {
  display: flex;
  align-items: center;
}

.header--search form {
  display: flex;
}

.header--search input {
  font-size: 16px;
  padding: 7px 10px;
  border: 1px solid #999999;
  outline: 0;
  width: 100%;
  max-width: 250px;
}

.header--search button {
  border: 0;
  background: transparent;
  margin-left: -30px;
  cursor: pointer;
}

.header--search button img {
  width: 16px;
  height: 16px;
}

.header--menu {
  margin-left: 50px;
}

.header--menu img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.banner {
  background-image: url("../images/bg.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}

.banner h1 {
  font-size: 96px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  line-height: 100px;
  margin: 0;
  margin-bottom: 30px;
}

.banner--images {
  margin-top: 60px;
}

.banner--images img {
  width: 148px;
  height: 148px;
  border-radius: 50%;
  border: 6px solid #117050;
  margin-right: 30px;
}

.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area1--content {
  background-color: pink;
}

.area1--img1 {
  background-color: yellowgreen;
  height: 100px;
}

.area1--img2 {
  background-color: turquoise;
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}
